.addFriend {
  position: fixed;
  /* 固定位置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* 黑色半透明遮罩 */
  /* background-image: url(../addFriend/addFriend_dot.png); */
  background-size: contain; /* 控制圖片大小 */
  /* backdrop-filter: blur(3px); 模糊背景 */
  display: flex;
  z-index: 1000;
  /* 確保遮罩在最上層 */
}

.addFriend_back {
  position: absolute;
  top: 22%;
  left: 9%;
  width: 3%;
  cursor: pointer;
}

.addFriend_box {
  position: fixed;
  top: 18%;
  left: 27%;
  width: 45%;
  height: auto;
}

.addFriend_input {
  width: 30%;
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 35%;

  /* 設定底線 */
  border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}

.addFriend_input:focus {
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}

.addFriend_finish {
  position: fixed;
  top: 70%;
  left: 42.5%;
  width: 15%;
  height: auto;
  cursor: pointer;
}
