.addFriend {
  position: fixed;
  /* 固定位置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* 黑色半透明遮罩 */
  /* background-image: url(../addFriend/addFriend_dot.png); */
  background-size: contain; /* 控制圖片大小 */
  /* backdrop-filter: blur(3px); 模糊背景 */
  display: flex;
  z-index: 1000;
  /* 確保遮罩在最上層 */
}

.addFriend_back {
  position: fixed;
  top: 140px;
  left: 54px;
  width: 3%;
  cursor: pointer;
}

.addFriend_box {
  position: fixed;
  top: 18%;
  left: 27%;
  width: 45%;
  height: auto;
}

.addFriend_input {
  width: 30%;
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 35%;

  /* 設定底線 */
  border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}

.addFriend_input:focus {
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}

.addFriend_finish {
  position: fixed;
  top: 58%;
  left: 43.5%;
  width: 13%;
  height: auto;
  cursor: pointer;
}
@media (min-width: 0px) {

  .addFriend_box {
    top: 25%;
    left: 7%;
    width: 85%;
    height: 50%;
  }

  .addFriend_input {
    width: 45%;
    font-size: 30px;
    top: 43%;
    left: 27%;
  
    /* 設定底線 */
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }

  .addFriend_finish {
    top: 60%;
    left: 36%;
    width: 25%;
  }
}

@media (min-width: 470px) {

  .addFriend_box {
    top: 18%;
    left: 9%;
    width: 80%;
    height: 55%;
  }
  .addFriend_input {
    width: 45%;
    font-size: 30px;
    top: 41%;
    left: 27%;
  
    /* 設定底線 */
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }

  .addFriend_finish {
    top: 60%;
    left: 36%;
    width: 25%;
  }

}

@media (min-width: 600px) {

  .addFriend_box {
    top: 18%;
    left: 12.5%;
    width: 72%;
    height: 60%;
  }
  .addFriend_input {
    width: 42%;
    font-size: 30px;
    top: 41%;
    left: 27.5%;
  
    /* 設定底線 */
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }

  .addFriend_finish {
    top: 60%;
    left: 36%;
    width: 25%;
  }

}

@media (min-width: 768px) {

  .addFriend_box {
    top: 18%;
    left: 22%;
    width: 55%;
    height: 55%;
  }

  .addFriend_input {
    width: 30%;
    font-size: 30px;
    top: 40%;
    left: 34.4%;
  
    /* 設定底線 */
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }


  .addFriend_finish {
    top: 58%;
    left: 42%;
    width: 15%;
  }

}
@media (min-width: 1000px) {

  .addFriend_box {
    top: 18%;
    left: 27%;
    width: 45%;
    height: 60%;
  }

  .addFriend_input {
    width: 30%;
    font-size: 30px;
    top: 40%;
    left: 34.4%;
  
    /* 設定底線 */
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }

  .addFriend_finish {
    top: 58%;
    left: 42.2%;
    width: 14%;
  }

}
@media (min-width: 1200px) {

  .addFriend_box {
    top: 18%;
    left: 27%;
    width: 40%;
    height: 60%;
  }
  .addFriend_input {
    width: 30%;
    font-size: 30px;
    top: 40%;
    left: 32%;
  
    /* 設定底線 */
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }

  .addFriend_finish {
    top: 58%;
    left: 40.3%;
    width: 13%;
  }
}
