.confirmFriend_back {
    position: absolute;
    top: 22%;
    left: 9%;
    width: 3%;
    cursor: pointer;
}

.confirmFriend_box {
    position: fixed;
    top: 18%;
    left: 27%;
    width: 45%;
    height: auto;
}

.confirmFriend_title{
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 35%;
    left: 37%;
    z-index: 1000;
}

.confirmFriend_test {
    position: absolute;
    top: 46%;
    left: 46%;
    width: 7%;
}

.confirmFriend_yes {
    position: fixed;
    top: 72%;
    left: 51%;
    width: 13%;
    height: auto;
    cursor: pointer;
}

.confirmFriend_no {
    position: fixed;
    top: 72%;
    left: 36%;
    width: 13%;
    height: auto;
    cursor: pointer;
}