.confirm {
    background-image: url("../showcase/bg.png"); /* 背景图片 ../culture/bg.png */
    background-size: cover; /* 背景填充模式 */
    background-color: #0F0F1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; /* 确保子元素的 absolute 生效 */
    z-index: 0;
    height: 100vh; /* 确保页面高度与视口一致 */
    width: 100%; /* 父容器寬度 */
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 占滿父容器寬度 */
    height: 100%; /* 占滿父容器高度 */
    position: relative;
  }

  .confirm_title {
    position: absolute;
    top: 25%;
    color: #ffffff;
  }

  .confirm_back {
    position: fixed;
    top: 140px;
    left: 54px;
    width: 3%;
    cursor: pointer;
  }

  .confirm_photo_area {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18vw;  /* 調整圓形大小 */
    height: 18vw;
    border-radius: 50%; /* 讓整個區塊變圓形 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 確保圖片不超出圓形範圍 */
}

.confirm_photo_box {
  position: absolute;
  width: 100%; 
  height: 100%;
  border-radius: 50%; /* 保持圓形 */
  object-fit: cover; /* 確保圖片完整顯示 */
  z-index: 1; /* 確保背景在下層 */
}

.confirm_photo {
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2; /* 確保頭像在圓形背景上層 */
}

  /* .confirm_photo_area {
    position: absolute;
    left: 40.5%;
    width: 18%; /* 調整頭像大小 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0%; /* 圓形頭像框 
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);
  }

  .confirm_photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持圖片填滿 
  } */

/*   
  .confirm_photo_area {
    position: relative;
    display: inline-block;
  }
  
  .confirm_photo_box {
    width: 100%; /* 根據需求調整 
  }
  
  .confirm_photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 讓圖片正好置中 
    width: 80%; /* 根據需求調整 
  } */
 
  
  .confirm_wait { 
    position: absolute;
    bottom: 6%;
    width: 20%;
  }
  