.confirm {
    background-image: url("../showcase/bg.png"); /* 背景图片 ../culture/bg.png */
    background-size: cover; /* 背景填充模式 */
    background-color: #0F0F1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; /* 确保子元素的 absolute 生效 */
    z-index: 0;
    height: 100vh; /* 确保页面高度与视口一致 */
    width: 100%; /* 父容器寬度 */
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 占滿父容器寬度 */
    height: 100%; /* 占滿父容器高度 */
    position: relative;
  }

  .confirm_title {
    position: absolute;
    top: 15%;
    color: #ffffff;
  }

  .confirm_back {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 3%;
    cursor: pointer;
    z-index: 1000;
  }

  .confirm_photo_area {
    position: relative;
    display: inline-block;
  }
  
  .confirm_photo_box {
    width: 100%; /* 根據需求調整 */
  }
  
  .confirm_photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 讓圖片正好置中 */
    width: 80%; /* 根據需求調整 */
  }
  

  .confirm_start {
    scale: 0.3;
    position: absolute;
    top: 68%;
    cursor: pointer;
  }
  