.connect {
  background-image: url("../showcase/showcase_bg.png");
  /* 背景图片 */
  background-size: cover;
  /* 背景填充模式 */
  background-color: #0F0F1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  /* 确保子元素的 absolute 生效 */
  z-index: 0;
  height: 100vh;
  /* 确保页面高度与视口一致 */
  width: 100%;
  /* 父容器寬度 */
}
content img {
  height: auto;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* 占滿父容器寬度 */
  height: 100%;
  /* 占滿父容器高度 */
  position: relative;
}
.connect_title {
  position: fixed;
  color: white;
  font-weight: bold;
}

.fontType {
  font-family:  'hwzs', 'Times New Roman', Georgia, serif;
}

@font-face {
  font-family: 'hwzs';
  src: url('font/hwzs.ttf') format('truetype'),
      url('font/hwzs.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+4E00-9FFF;
}

.friend-input {
  position: fixed;
  width: 55%;
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  /* padding: 10px; */

  /* 設定底線 */
  border-bottom: 4px solid rgba(255, 255, 255, 0.8);

  /* 發光效果 */
  /* box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3); */

  /* padding: 0.5rem;
    width: 60%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem; */
}

/* 當使用者點擊時，加強底線發光 */
.friend-input:focus {
  border-bottom: 4px solid rgba(255, 255, 255, 1);
  /* box-shadow: 0 6px 15px rgba(255, 255, 255, 0.5); */
}

.connect_finish {
  position: fixed;
  bottom: 17%;
  cursor: pointer;
  width: 50%;
}
@media (min-width: 0px) {
  .connect_title {
    position: fixed;
    top: 20%;
    width: 80%;
    font-size: 30px;
  }
  .connect_finish {
    position: fixed;
    bottom: 17%;
    cursor: pointer;
    width: 50%;
  }
  .friend-input {
    top:43%;
    width: 55%;
    font-size: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }
  .connect_finish {
    bottom: 30%;
    cursor: pointer;
    width: 40%;
  }
}

@media (min-width: 525px) {
  .connect_title {
    position: fixed;
    top: 22%;
    width: 70%;
    font-size: 35px;
  }
  .friend-input {
    top:45%;
    width: 55%;
    font-size: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }
  .connect_finish {
    bottom: 28%;
    cursor: pointer;
    width: 40%;
  }
}

@media (min-width: 600px) {
  .connect_title {
    position: fixed;
    top: 26%;
    width: 75%;
    font-size: 35px;
  }
  .connect_finish {
    position: fixed;
    bottom: 17%;
    cursor: pointer;
    width: 50%;
  }
  .friend-input {
    top:50%;
    width: 55%;
    font-size: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }
  .connect_finish {
    bottom: 19%;
    cursor: pointer;
    width: 40%;
  }
}

@media (min-width: 768px) {
  .connect_title {
    position: fixed;
    top: 26%;
    width: 75%;
    font-size: 38px;
  }
  .connect_finish {
    position: fixed;
    bottom: 17%;
    cursor: pointer;
    width: 50%;
  }
  .friend-input {
    top:50%;
    width: 55%;
    font-size: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }
  .connect_finish {
    bottom: 17%;
    cursor: pointer;
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .connect_title {
    position: fixed;
    top: 26%;
    width: 60%;
    font-size: 40px;
  }
  .connect_finish {
    position: fixed;
    bottom: 17%;
    cursor: pointer;
    width: 50%;
  }
  .friend-input {
    top:50%;
    width: 50%;
    font-size: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }
  .connect_finish {
    bottom: 17%;
    cursor: pointer;
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .connect_title {
    position: fixed;
    top: 26%;
    width: 60%;
    font-size: 57px;
  }
  .connect_finish {
    position: fixed;
    bottom: 17%;
    cursor: pointer;
    width: 50%;
  }
  .friend-input {
    top:50%;
    width: 52%;
    font-size: 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
  }
  .connect_finish {
    bottom: 17%;
    cursor: pointer;
    width: 30%;
  }
}