/* 背景设置 */
.friend_wall {
  background-image: url("../showcase/showcase_bg.svg"); /* 背景图片 */
  background-size: cover; /* 背景填充模式 */
  background-position: center; /* 背景居中 */
  height: calc(100vh); /* 占满整个视口高度 */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff; /* 文字颜色 */
  text-align: center;
  position: relative;
}
.friend_list_lab {
  position: absolute; /* 使用绝对定位 */
  top: 0; /* 靠近页面顶部 */
  left: 3%; /* 靠近页面左侧 */
  z-index: 2; /* 确保图片在其他元素之上 */
}

.friend_list_lab img {
  display: block; /* 确保图片是块级元素 */
  padding-top: 15px; /* 清除默认内边距 */
  width: auto; /* 自动调整图片宽度 */
  height: auto; /* 自动调整图片高度 */
  max-width: 100%; /* 确保图片不超出容器 */
}




/* 内容容器 */
.content {
  position: relative;
  margin-top: 150px;
  max-height: calc(100vh-20px); /* 减去上方 Header 和 friend_list_lab 的高度 */
  box-sizing: border-box; /* 包括内边距 */
  z-index: 1; /* 在 friend_list_lab 之下 */
}

/* 标题样式 */
.title {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}


/* 按钮样式 */
.footer {
  position: absolute;
  bottom: 20px; /* 距离底部 */
  right: 20px; /* 距离右边 */
  width: 93px; /* 图片宽度 */
  height: 93px; /* 图片高度 */
  z-index: 5;
}

