/* Header */
.header {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%; /* 去掉引号 */
  display: flex;
  align-items: center;
  justify-content: space-between; /* 确保左右两边对齐 */
  padding: 2vh 4vw; /*20 40px*/
  z-index: 100;
  box-sizing: border-box; /* 确保 padding 不会影响宽度 */
}

/* Logo */
.header-logo {
  width: 12vw;
  height: auto;
  aspect-ratio: 180 / 45;
  background: url('../header/logo_small.svg') no-repeat;
  background-size: contain;
  background-position: center;
}

.navList{
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  gap: 2vw; /* 每个导航项之间的间距 */
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 60%; 
  margin: 0 2vw 0 0;
}

.nav-item {
  width: 7vw;
  height: auto;
  aspect-ratio: 100 / 40;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease; /* 添加交互效果 */
}

/* h2{
  margin: 0 0 0 2vw;
} */

/* Login */
.header-login {
  height: auto;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw; /* 文字大小根據畫面縮放 */
  white-space: nowrap;
  overflow: hidden;
  max-width: 20vw; /* 限制最大寬度 */
  position: relative;
}


.header-login:hover, .login-dropdown h3:hover {
  opacity: 0.8; /* 鼠标悬停时改变透明度 */
}

.login-dropdown{
  position: absolute;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 200; 
}

.login-dropdown h3 {
  margin: 0;
  padding: 10px;
  font-size: 2vw;
  cursor: pointer;
}