/* Header */
.header {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 4vw;
  z-index: 100;
  box-sizing: border-box;
  overflow: visible;
}

/* Logo */
.header-logo {
  width: 12vw;
  height: auto;
  aspect-ratio: 180 / 45;
  background: url('../header/logo_small.svg') no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

/* navList Container */
.navList {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  position: relative; /* 使得垂直導覽列能根據這個定位 */
}

/* Horizontal Navigation Menu */
.nav-menu {
  display: flex;
  gap: 2vw; /* 每个导航项之间的间距 */
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 60%;
  margin-right: 2vw;
}

.nav-item {
  width: 7vw;
  height: auto;
  aspect-ratio: 100 / 40;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Vertical Navigation (Dropdown) */
.header-login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative; /* 用於放置下拉選單 */
}

.header-login {
  font-size: 2vw;
  color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.header-login h2 {
  font-size: 2vw;
  max-width: 20vw;
}

.login-dropdown {
  /* position: absolute;
  top: 100%;
  left: 0; */
  width: 100%;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 200;
  /* background-color: #333;  */
}

.login-dropdown h3 {
  margin: 0;
  padding: 10px;
  font-size: 2vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-dropdown h3:hover {
  background-color: #444;
}

/* Hover Effect */
.header-login:hover,
.login-dropdown h3:hover {
  opacity: 0.8;
}

/* For the layout when it's not hovering over header-login */
.header-login-container:hover .login-dropdown {
  display: block; /* Ensure dropdown appears when hovering */
}
