* {
    margin: 0;
    overflow: hidden;
}

#home_container {
    width: 100%;
    margin: 0 auto;
    background-image: url("../home/home_bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* .background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
} */

.logo {
    width: 25%;
    position: absolute;
    top: 77%;
    left: 71%;
}

.text {
    width: 35%;
    position: absolute;
    top: 66%;
    left: 6%;
}

.login {
    width: 6%;
    position: absolute;
    top: 5%;
    left: 91%;
    cursor: pointer;
}

.go {
    width: 10%;
    position: absolute;
    top: 91%;
    left: 86%;
    cursor: pointer;
}

.logo,
.text,
.login,
.go {
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

/*不知道為甚麼辦但目前失敗的RWD*/
/* .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .bg {
        background-position: center top;
    }
}

@media (min-width: 1025px) {
    .bg {
        background-position: center;
    }
} */

/* 手機版 RWD */
@media (max-width: 768px) {
    .logo {
        width: 55%;
        top: 33%;
        left: 50%;
        transform: translateX(-50%);
    }

    .text {
        content: url("/src/phone/home_text.svg");
        width: 60%;
        top: 42%;
        left: 50%;
        transform: translateX(-50%);
    }

    .login {
        width: 18%;
        top: 5%;
        left: 75%;
    }

    .go {
        width: 35%;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
    }

    #home_container {
        background-image: url("/src/phone/home_bg.png");
        background-position: center top;
        background-size: cover;
    }
}