* {
    margin: 0;
    padding: 0;
}

/* 背景樣式 */
.login-container {
    background-image: url("../home/home_bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.black-overlay-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑 */
    backdrop-filter: blur(5px); /* 加上背景模糊效果 */
    z-index: 0;
}

/* Logo */
.login-logo img{
    position: fixed;
    top: 2%;
    left: 3%;
    width: 20%;
    height: 20%;
}

.login_text{
  z-index: 1;
}

.login_text p{
  position: fixed;
  font-weight: bold;
}

/* 白色遮罩 */
.login-box-login {
  position: fixed;
  box-shadow: 0 0 40px rgb(255, 255, 255) inset;
  border-radius: 30px;
}

.login-box-login img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* 輸入框 */
.input-container-login {
    position: relative;
    width: 100%; 
    top: 5vh;
}

.input-container-login img {
    position: absolute;
    top: 27.5%;
    left: 17.5%;
    transform: translateY(-50%);
    scale: 0.45;
    width: 7vw; 
    height: auto;
    margin: 0 10px 0 0; /* Icon 和文字之間的距離 */
}

.input-container-login input{
    border: none !important;
    outline: none;
    font-size: 2vw !important;
    height: 5.5vw; /*11.56vh*/
    width: 34vw;
    margin: 1.5vw; /*25px*/ /*輸入框的間隔*/
    padding-left: 7vw;
    box-shadow: 0 0 50px rgb(255, 255, 255) inset;
    border-radius: 25px;
    background-color: transparent;
}

input::placeholder{
    color: #ffffff;
}

#LoginPasswordEye{
    transform: translateX(60vw) translateY(-50%) scale(0.75); 
}

/* 登入/註冊按鈕 */
.button-login {
    /* width: 100%; */
    scale: 0.7;
    padding: 1vw 1vw;
    cursor: pointer;
    margin-top: 30px;
}

/* 其他登入方式 */
.other-login-login {
    scale: 0.8;
}

.other-login-icons-login {
    display: flex;
    justify-content: center;
    margin: 3.5vw 0; /*40px*/ /*google和字的距離*/
}

.other-login-icons-login img {
    width: 5vw;
    cursor: pointer;
}

/*註冊*/
.register{
    scale: 0.25; 
    margin: -4.5vw 0 0 0;
}
@media (min-width: 0px) {
  .login_text p{
    right: 42%;
    top:15%;
    font-size: 30px;
  }
  
  /* 白色遮罩 */
  .login-box-login {
      width: 50vw;
      transform: scale(1.6) translateY(-10%);
      box-shadow: 0 0 30px rgb(255, 255, 255) inset;
  }

  .input-container-login {
    top: 3vh;
}

}
@media (min-width: 1024px) {

}
@media (min-width: 600px) {
  .login_text p{
    right: 45%;
    top:15%;
    font-size: 35px;
  }
  
  /* 白色遮罩 */
  .login-box-login {
      width: 50vw;
      transform: scale(1.4) translateY(10%);
  }
}
@media (min-width: 700px) {
  .login_text p{
    right: 47.5%;
    top:15%;
    font-size: 35px;
  }
  
  /* 白色遮罩 */
  .login-box-login {
      width: 50vw;
      transform: scale(1.1) translateY(15%);
  }
}
@media (min-width: 900px) {
  .login_text p{
    right: 47.5%;
    top:15%;
    font-size: 35px;
  }
  
  /* 白色遮罩 */
  .login-box-login {
      width: 50vw;
      transform: scale(0.9) translateY(10%);
  }
}
@media (min-width: 1024px) {
  .login_text p{
    right: 47.5%;
    top:10%;
    font-size: 40px;
  }
  
  /* 白色遮罩 */
  .login-box-login {
      width: 50vw;
      transform: scale(0.85) translateY(10%);
  }
}
  
