* {
    margin: 0;
    padding: 0;
}

/* 背景樣式 */
.login-container {
    background-image: url("/src/assets/bg_登入.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    position: relative;
}

/* Logo */
.login-logo {
    position: absolute;
    width: 10%;
    height: auto;
    top: 5vh;
    left: 5vh;
}

.login_text{
    position: absolute;
    width: 4.5vw;
    height: auto;
    top: 7.5vh;
}

/* 白色遮罩 */
.login-box-login {
    background-image: url("/src/assets/bg_透明框.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain; /*maybe cover?*/
    box-sizing: content-box;
    height: auto;
    width: 50vw;
    transform: scale(0.75);
    /* position: absolute;
    top: 4vh; */
    /* margin: 1vh; */
}

.login-box-login img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* 輸入框 */
.input-container-login {
    position: relative;
    width: 100%; 
    top: 5vh;
}

.input-container-login img {
    position: absolute;
    top: 27.5%;
    left: 17.5%;
    transform: translateY(-50%);
    scale: 0.45;
    width: 7vw; 
    height: auto;
    margin: 0 10px 0 0; /* Icon 和文字之間的距離 */
}

.input-container-login input{
    border: none !important;
    outline: none;
    font-size: 2vw !important;
    height: 5.5vw; /*11.56vh*/
    width: 34vw;
    margin: 1.5vw; /*25px*/ /*輸入框的間隔*/
    background-image: url("/src/assets/訊息的框.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #ffffff00 !important;
    padding-left: 7vw;
    color: #ffffff !important;
}

input::placeholder{
    color: #ffffff;
}

#LoginPasswordEye{
    transform: translateX(60vw) translateY(-50%) scale(0.75); 
}

/* 登入/註冊按鈕 */
.button-login {
    /* width: 100%; */
    scale: 0.7;
    padding: 1vw 1vw;
    cursor: pointer;
    margin-top: 30px;
}

/* 其他登入方式 */
.other-login-login {
    scale: 0.8;
}

.other-login-icons-login {
    display: flex;
    justify-content: center;
    margin: 3.5vw 0; /*40px*/ /*google和字的距離*/
}

.other-login-icons-login img {
    width: 5vw;
    cursor: pointer;
}

/*註冊*/
.register{
    scale: 0.25; 
    margin: -4.5vw 0 0 0;
}


