.photo_title {
    position: fixed;
}
.photo_title p{
    font-size: 5vh;
    font-weight: bold;
}
.black-overlay-photo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑 */
    backdrop-filter: blur(5px); /* 加上背景模糊效果 */
    z-index: 0;
}

.photo-box-register{
    position: fixed;
    box-shadow: 0 0 30px rgb(255, 255, 255) inset;
    border-radius: 25px;
}

.photo_box{
    box-shadow: 0 0 10px rgb(255, 255, 255) inset;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;
    object-fit: contain;
}



.photo_box.selected {
    box-shadow: 0 0 30px rgb(255, 255, 255) inset;
    border-radius: 25px;
}

.photo_box img{
    object-fit: cover; 
    position: relative;
    top: 16%;
}

.checkPhoto{
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}
.checkPhoto img{
    width: 50%;
}
.rows{
    display:flex;
}
@media (min-width: 0px) {
    .photo-box-register{
        margin-top: 7%;
        width:90%;
    }
    .photo_title {
        top: 8%;
        width: 100%;
    }
    .photo_box{
        top: 5%;
        width: 50%;
        margin: 10px;
    }
    .photo_box img{
        top: 16%;
    }
  }
@media (min-width: 400px) {
    .photo-box-register{
        margin-top: 7%;
        width:75%;
    }
    .photo_title {
        top: 8%;
        width: 100%;
    }
    .photo_box{
        top: 5%;
        width: 50%;
        margin: 10px;
    }
    .photo_box img{
        top: 16%;
    }
  }
@media (min-width: 768px) {
    .photo-box-register{
        margin-top: 7%;
        width:60%;
    }
    .photo_title {
        top: 8%;
        width: 100%;
    }
    .photo_box{
        top: 5%;
        width: 50%;
        margin: 10px;
    }
    .photo_box img{
        top: 16%;
    }
  }
@media (min-width: 1024px) {
    .photo-box-register{
        margin-top: 7%;
        width:50%;
    }
    .photo_title {
        top: 8%;
        width: 100%;
    }
    .photo_box{
        top: 5%;
        width: 50%;
        margin: 10px;
    }
    .photo_box img{
        top: 16%;
    }
  }
