.question {
    background-image: url("../question/question_bg.svg");
    /* 背景图片 */
    background-size: cover;
    /* 背景填充模式 */
    background-color: #0F0F1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    /* 确保子元素的 absolute 生效 */
    z-index: 0;
    height: 100vh;
    /* 确保页面高度与视口一致 */
    width: 100%;
    /* 父容器寬度 */
}

.back {
    position: fixed;
    left: 2.5%;
    cursor: pointer;
    z-index: 5;
}

.checkAnswer {
    position: fixed;
    bottom: 14%;
    z-index: 5;
}

.checkAnswer img {
    z-index: 10;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scale: 0.97;
    z-index: 5;
}

.progress-bar {
    position: fixed;
    top: 18%;
}

@media (min-width: 0px) {
    .back {
        position: fixed;
        top: 17%;
    }
    .back img {
        width: 50%;
    }
    .progress-bar {
        width: 65%;
    }
    .checkAnswer {
        bottom: 12%;
    }
    .checkAnswer img{
        width: 45%;
    }
    .row-question {
        width: 80%;
    }
}

@media (min-width: 320px) {
    .back {
        position: fixed;
        top: 17%;
    }
    .back img {
        width: 50%;
    }
    .progress-bar {
        width: 65%;
    }
    .checkAnswer {
        bottom: 12%;
    }
    .checkAnswer img{
        width: 45%;
    }
    .row-question {
        width: 70%;
    }
}

@media (min-width: 375px) {
    .back {
        position: fixed;
        top: 17%;
        left: 1.5%;
    }
    .back img {
        width: 55%;
    }
    .progress-bar {
        width: 62%;
    }
    .checkAnswer {
        bottom: 6%;
    }
    .checkAnswer img{
        width: 50%;
    }
    .row-question {
        width: 60%;
    }
}

@media (min-width: 400px) {
    .back {
        position: fixed;
        top: 17%;
    }

    .back img {
        width: 60%;
    }

    .progress-bar {
        width: 65%;
    }

    .checkAnswer {
        bottom: 9%;
    }

    .checkAnswer img {
        width: 55%;
    }
    .row-question {
        width: 60%;
    }
}

@media (min-width: 470px) {
    .back {
        position: fixed;
        top: 17%;
    }

    .back img {
        width: 60%;
    }

    .progress-bar {
        width: 60%;
    }

    .checkAnswer {
        bottom: 10%;
    }

    .checkAnswer img {
        width: 60%;
    }
    .row-question {
        width: 60%;
    }
}

@media (min-width: 545px) {
    .back {
        position: fixed;
        top: 17%;
    }

    .back img {
        width: 70%;
    }

    .progress-bar {
        width: 60%;
    }

    .checkAnswer {
        bottom: 10%;
    }

    .checkAnswer img {
        width: 65%;
    }

    .row-question {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .back {
        position: fixed;
        top: 17%;
    }

    .back img {
        width: 90%;
    }
    
    .progress-bar {
        width: 60%;
    }

    .checkAnswer {
        bottom: 10%;
    }

    .checkAnswer img {
        width: 70%;
    }
    
    .row-question {
        width: 60%;
    }
}
@media (min-width: 1000px) {
    .back {
        position: fixed;
        top: 17%;
    }

    .back img {
        width: 100%;
    }

    .progress-bar {
        width: 60%;
    }

    .checkAnswer {
        bottom: 9%;
    }

    .checkAnswer img {
        width: 80%;
    }
    
    .row-question {
        width: 65%;
    }
}
@media (min-width: 1440px) {
    .back {
        position: fixed;
        top: 18%;
    }

    .back img {
        width: 100%;
    }
    
    .checkAnswer {
        bottom: 14%;
    }

    .checkAnswer img {
        width: 90%;
    }

    .row-question {
        width: 55%;
    }
}

.row {
    display: flex;
    align-items: center;
    /* 保證選項圖片在父容器中垂直居中 */
}


.col-6 {
    flex: 1;
    /* 使 A 和 B 在每一列中有相同的寬度 */
    max-width: 100%;
    /* 限制最大寬度 */
    padding: 5px;
    /* 使內部內容不會粘邊 */
    display: flex;
    /* 使用 flexbox 來確保垂直居中 */
    justify-content: center;
    /* 保證圖片在水平方向居中 */
    min-height: 100px;
    /* 保證每個選項區域的高度一致，這裡可以根據需要調整 */
}

.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.content button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

button:disabled {
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.button-selected {
    background-image: url('../question/question_no\ push_btn.svg');
    background-color: #ffffff10;
    border-radius: 35px;
    color: #ffffff;
}

.button-default {
    background-image: url('../question/question_push _btn.svg');
    background-color: #00000050;
    border-radius: 35px;
    color: #ffffff93;
}

.birth_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    /* 模糊效果 */
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 讓圖片以自身中心點對齊畫面中心 */
    display: flex;
    flex-direction: column;
    /* 讓內容垂直排列 */
    align-items: center;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
}

#question_wait {
    width: 20%;
    /* 可根據需求調整 */
    height: auto;
    margin-bottom: 2.5%;
}

.dot-container {
    display: flex;
    justify-content: center;
    gap: 3.5%;
    /* 控制點點間距 */
    align-items: center;
    width: 100%;
    /* 確保容器寬度足夠 */
    height: 100px;
    /* 設定容器的高度，根據需要調整 */
    overflow: visible;
    /* 讓縮放後的元素超出容器 */
}

.dot-container img {
    width: 3.5%;
    /* 根據需求調整 */
    height: auto;
    animation: scaleAnimation 3s infinite ease-in-out;
    transform-origin: center center;
    /* 設定縮放的中心為元素的中心 */
    overflow: hidden;
    /* 隱藏超出容器的部分 */
}

@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }
}

#dot2 {
    animation-delay: 0.5s;
}

#dot3 {
    animation-delay: 1s;
}