/* 白色遮罩 */
.login-box-register {
    background-image: url("/src/assets/bg_透明框.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    box-sizing: content-box;
    height: auto;
    width: 50vw;
    transform: scale(0.75);
    overflow: visible;
}

.login-box-register img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* 輸入框 */
.input-container-register {
    position: relative;
    width: 100%; 
    top: 2.5vw; /*第一個和邊框的間距*/
}

.input-container-register img {
    position: absolute;
    top: 27.5%;
    left: 17.5%;
    transform: translateY(-50%);
    scale: 0.45;
    width: 7vw; 
    height: auto;
    margin: -4px 10px 0 0; /* Icon 和文字之間的距離 */
}

.input-container-register input {
    border: none;
    outline: none;
    font-size: 2vw;
    height: 5.5vw; /*109.5px*/
    width: 34vw; /*100%*/
    margin: 0.7vw; /*25px 輸入框的間隔 */
    background-image: url("/src/assets/訊息的框.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #ffffff00;
    padding-left: 7vw; 
    color: #ffffff;
}

#RegisterPasswordEye, #RegisterPasswordEye2{
    transform: translateX(60vw) translateY(-50%) scale(0.75); 
}

/* 下一步按鈕 */
.button-register {
    /* width: 100%; */
    scale: 0.7;
    padding: 1vw 1vw;
    cursor: pointer;
    margin-top: 15px; /*和input的間距*/
}

/* 其他登入方式 */
.other-login-register {
    scale: 0.8;
    margin: -40px 0 0 0; /*和下一步的間距*/
}

.other-login-icons-register {
    display: flex;
    justify-content: center;
    margin: 1.5vw 0 5vw 0; /*google和字的距離*/
}

.other-login-icons-register img {
    width: 5vw;
    cursor: pointer;
}

/*登入*/
.register-login{
    scale: 0.25;
    margin: -7vw 0 0 0;
}