* {
    margin: 0;
    overflow: hidden;
}

.reward {
    background-image: url("../reward/reward_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #0F0F1A; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.reward_title {
    /* scale: 0.2; */
    width: 20%;
    position: absolute;
    top: 15%;
}

.strain-box {
    width: 400px;  /* 設定菌種框的寬度 */
    height: 400px; /* 設定菌種框的高度 */
    background-size: contain; /* 讓圖片適應框 */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 26%;
    border-radius: 50%;
}

.check {
    /* scale: 0.15; */
    width: 15%;
    position: absolute;
    top: 80%;
    cursor: pointer;
}

.strainName-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.strain_name_box {
    position: fixed;
    z-index: 1999;
    /* 設定較低層級 */
}

.strainName-input {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 2000;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}.strain_name_finish {
    position: fixed;
    transform: translate(-50%, 0);
    z-index: 2001;
}
.strainName-input:focus {
    border-bottom: 4px solid rgba(255, 255, 255, 1);
    /* box-shadow: 0 6px 15px rgba(255, 255, 255, 0.5); */
}


@media (min-width: 0px) {
    .strain_name_box {
        top: 23%;
        left: 11%;
        width: 77%;
    }
    .strainName-input {
        top: 39%;
        /* 根據需要微調 */
        left: 50%;
        width: 45%;
        font-size: 27px;
    }
    .strain_name_finish {
        top: 50%;
        left: 50.5%;
        width: 24%;
    }
  }
  
  @media (min-width: 470px) {
    .strain_name_box {
        top: 23%;
        left: 11%;
        width: 77%;
    }
    .strainName-input {
        top: 39%;
        /* 根據需要微調 */
        left: 50%;
        width: 45%;
        font-size: 27px;
    }
    .strain_name_finish {
        top: 50%;
        left: 50.5%;
        width: 24%;
    }
  }
  
  @media (min-width: 600px) {
    .strain_name_box {
        top: 22%;
        left: 15%;
        width: 70%;
    }
    .strainName-input {
        top: 41%;
        /* 根據需要微調 */
        left: 50%;
        width: 42%;
        font-size: 27px;
    }
    .strain_name_finish {
        top: 53%;
        left: 50.5%;
        width: 22%;
    }
  }
  
  @media (min-width: 768px) {
    .strain_name_box {
        top: 22%;
        left: 21%;
        width: 57%;
    }
    .strainName-input {
        top: 43%;
        /* 根據需要微調 */
        left: 50%;
        width: 38%;
        font-size: 27px;
    }
    .strain_name_finish {
        top: 55%;
        left: 50.5%;
        width: 18%;
    }
  }
  @media (min-width: 1000px) {
    .strain_name_box {
        top: 22%;
        left: 25%;
        width: 50%;
    }
    .strainName-input {
        top: 45%;
        /* 根據需要微調 */
        left: 50%;
        width: 28%;
        font-size: 24px;
    }
    .strain_name_finish {
        top: 57%;
        left: 50.5%;
        width: 15%;
    }
  }
  @media (min-width: 1200px) {
    .strain_name_box {
        top: 22%;
        left: 30%;
        width: 40%;
    }
    .strainName-input {
        top: 45%;
        /* 根據需要微調 */
        left: 50%;
        width: 28%;
        font-size: 24px;
    }
    .strain_name_finish {
        top: 60%;
        left: 50.5%;
        width: 12%;
    }
  }
