/* 背景设置 */
.showcase {
  background-image: url("../showcase/showcase_bg.svg");
  /* 使用相对路径 */
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  position: relative;
}

/* .showcase-content {
  position: absolute;
  right: 27%;
  width: 100%;
  height: 85%;
  max-width: 1200px; /* 避免內容過寬 
  margin: 0 auto; /* 讓內容置中 
} */


/* 内容容器 */
.showcase-content {
  position: fixed;
  /* 确保内容在 Header 下方 */
  /* max-height: calc(100vh);  */
  /* 保证内容区域不会超出页面 */
  box-sizing: border-box;
  /* 包括内边距 */
  left: 10%;
  bottom: 8%;
  width: 100%;
  height: 100%;
}

/* .row-showcase {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* ✅ 靠左對齊 
  gap: 60px; /* ✅ 增加左右間距 
} */


.row-showcase{
  width: 80%;
}


/* 卡片資訊 */
.card-info {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  color: rgba(191, 173, 255, 1);
  z-index: 100;
}

.card-info-id {
  position: absolute;
  top: 1%;
  left: 8%;
  font-size: 21px;
}

.card-info-name {
  font-size: 18px;
  font-weight: 700;
}

.name_box {
  position: absolute;
  top: 75%;
  left: 15%;
  width: 70%;
}

.card-info-owner {
  position: absolute;
  top: 83%;
  left: 5%;
  font-size: 16px;
}

.card-info-date {
  position: absolute;
  top: 90%;
  left: 67%;
  font-size: 17px;
}

.overlay-image img {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 30%;
  /* transform: scale(1.4); */
  transform-origin: center;
  clip-path: inset(0 0 0 0); 
  z-index: 400;
}


.overlay-image2 {
  position: absolute;
  top:16%;
  left: 34%;
  width: 165px;       /* 線的長度 */
  height: 8px;        /* 線的粗細 */
  background-color: #daa7ff; /* 線的顏色 */
  z-index: 400;
}


/* 标题样式 */
.title {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.back_page {
  position: absolute;
  left: 4%;
  top: 49%;
  width: 5%;
  cursor: pointer;
}

.next_page {
  position: absolute;
  right: 4%;
  top: 49%;
  transform: rotate(180deg);
  width: 5%;
  cursor: pointer;
}

/* 按钮样式 */
.footer {
  position: absolute;
  width: 100%;
  z-index: 5;
  cursor: pointer;
}

@media (max-width: 2560px){ 
  .showcase{
    height: 100vh;
  }
  .showcase-content {
    max-height: calc(100vh);
    zoom: 75%;
  }
}

@media (max-width: 1024px) {
  .showcase {
    height: 100vh;
  }

  .showcase-content {
    max-height: calc(110vh);
  }
}

/* @media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
} */