* {
    margin: 0;
    overflow: hidden;
}

#world_container {
    width: 100vw;
    margin: 0 auto;
    background-image: url("../world/world_bg.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: visible;
}

.logos {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 4%;
    cursor: pointer;
}

.symbiosis {
    width: 8.5%;
    position: absolute;
    top: 4.5%;
    left: 64.2%;
}

.show {
    width: 4.5%;
    position: absolute;
    top: 4.9%;
    left: 74.5%;
}

.game {
    width: 7.5%;
    position: absolute;
    top: 4.9%;
    left: 81%;
}

.world-bio {
    position: relative;
    /* 確保可以相對定位圖片 */
    width: 100vw;
    height: 100vh;
}

/* ID視窗 */
.id-popup {
    position: fixed;
    /* 固定位置 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* 黑色半透明遮罩 */
    /* backdrop-filter: blur(1px);模糊背景 */
    display: flex;
    z-index: 1999;
    /* 確保遮罩在最上層 */
}

.id_notice {
    position: fixed;
    top: 25%;
    left: 30%;
    width: 40%;
    height: auto;
    z-index: 1999;
}

.id-popup-content strong {
    font-size: 1.9vw;
    color: rgba(216, 165, 223, 1.0);
    position: absolute;
    top: 35.5%;
    left: 40.5%;
    z-index: 2000;
}

.id_close {
    position: absolute;
    top: 23%;
    left: 71%;
    width: 2.5%;
    height: auto;
    z-index: 2000;
    /* width: 60%;
    height: auto; */
}

.world-bio-text{
    background: linear-gradient(0deg, #E2CEFF 0%, #BFADFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}